/* Jumbotron */
.c-jumbotron {
    height: 100vh;
    background-image:linear-gradient(
      rgba(255,255,255,0.8)
      ,rgba(255,255,255,0.8)),
      url('/images/homepage.png');
    background-size: 100% 100%;
    background-position: center;
    color: #0e6efd;
}
/* Jumbtron Ends */
/* Overlay Text on Image */
.container {
  display:block;
  justify-content: left;
  position: relative;
  top:30%;
}
.c-btn {
  justify-content: left;
  position: relative;
  border-radius: 50px;
  color:#0e6efd;
}
/* Overlay Text on Image Ends */






