/* Jumbotron */
.c-jumbotron {
    height: 100vh;
    background-image: url('/images/keyboard1.jpg');
    background-size: 100% 100%;
    background-position: center;
    color: white;
}
/* Jumbtron Ends */
/* Overlay Text on Image */
.container {
  display:block;
  justify-content: left;
  position: relative;
  top:50%;
}
.c-btn {
  justify-content: left;
  position: relative;
  border-radius: 50px;
  color:white;
  font-weight: 500;
}
/* Overlay Text on Image Ends */
/* Navbar */
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav-link {
  margin-left: 15px;
}
/* Navbar Ends */
/* Background Color - Card Section */
section.projects {
  background-image:linear-gradient(
  rgba(255,255,255,0.8)
  ,rgba(255,255,255,0.8)),
    url('/images/homepage.png');
  background-size: 100% 100%;
  background-position: center;
  min-height: 100vh;
}
/* Background Color - Card Section Ends */
.card {
  margin-top: 72px;
}












