.navigation {
    width: 100%;
    position: absolute;
}

.navigation ul {
    height: 5rem;
    float: right;
}

.navigation ul li {
    display:inline-block;
    padding: 4rem 1.5rem;
    color: #fff;
    font-size: 2rem;
}

.landingpage {
    background: linear-gradient(to left, rgba(57,106,252,.8),rgba(41,72,255,.8));
    width: 100%;
    height: 100vh;
}

.landing__area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.landing__area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 2.5rem;
    height: 2.5rem;
    background: #b8860b;
    animation: animate 20s linear infinite;
    bottom: -15rem; 
}

.landing__area li:nth-child(1) {
    left: 86%;
    width: 8rem;
    height: 8rem;
    animation-delay: 0s;
    background: #fff !important;
}

.landing__area li:nth-child(2) {
    left: 12%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    animation-delay: 1.5s;
    animation-duration: 10s;
    background: #fff !important;
}

.landing__area li:nth-child(3) {
    left: 70%;
    width: 10rem;
    height: 10rem;
    animation-delay: 5.5s;
}

.landing__area li:nth-child(4) {
    left: 42%;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 15s;
    background: #fff !important;
}

.landing__area li:nth-child(5) {
    left: 65%;
    width: 4rem;
    height: 4rem;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 10rem;
    animation-delay: 0s;
}

.landing__area li:nth-child(6) {
    left: 15%;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    animation-delay: 3.5s;
    color: gold;
}








