a {
    color: #fff;
    text-decoration: none;

        &:visited{
        color: #fff;
        text-decoration: none;
        opacity: 0.42;
    }
        &:hover{
        opacity: 0.7;
        text-decoration: underline;
    }
        &:active{
        opacity: 1;
        text-decoration: none;
    }
}

.navi-select {
    cursor: pointer;
}